name: Spec

on:
  push:
    branches:
      - main
    paths-ignore:
      - '*.md'
      - 'LICENSE'
  pull_request:
    branches:
      - main
    paths-ignore:
      - '*.md'
      - 'LICENSE'

jobs:
  spec:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        crystal:
          - 1.18.2
          - 0.33.0

    steps:
    - uses: actions/checkout@v4

    - name: Install Crystal
      uses: crystal-lang/install-crystal@v1
      with:
        crystal: ${{ matrix.crystal }}

    - name: Install dependencies
      run: shards install

    - name: Run spec
      run: crystal spec
